* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --clr-red: hsl(7, 99%, 70%);
    --clr-yellow: hsl(51, 100%, 49%);
    --clr-graphic-text: hsl(167, 40%, 24%);
    --clr-photo-text:  hsl(198, 62%, 26%);
    --clr-footer: hsl(168, 42%, 55%);

    /* neutral */
    --clr-dark-blue1: hsl(212, 27%, 19%);
    --clr-dark-blue2: hsl(213, 9%, 39%);
    --clr-dark-blue3: hsl(232, 10%, 55%);
    --clr-gray-blue: hsl(210, 4%, 67%);
    --clr-white: hsl(0, 0%, 100%);

    font-size: 18px;
    font-family: 'Fraunces', serif;
    line-height: 1.5;
    color: var(--clr-graphic-text);
    text-align: center;
}

a {
    text-decoration: none;
}

h2 {
    color: var(--clr-dark-blue1);
    font-size: 30px;
    margin: .5rem 1.5rem;
}

p {
    font-family: 'Barlow', sans-serif;
    color: var(--clr-dark-blue2);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

h3 {
    font-size: 22px;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
    color: var(--clr-dark-blue1);
    letter-spacing: 5px;
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.img-desktop {
    display: none;
}

/* header */
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.nav {
    position: fixed;
    top: 15%;
    left: 5%;
    right: 5%;
    margin: 0 auto;
    background-color: var(--clr-white);
    padding: 2rem;
    transform: translateX(150%);
    transition: all .5s;
    z-index: 3;
}

.nav::before {
    content: '';
    position: absolute;
    right: 0;
    top: -30px;
    width: 30px;
    height: 30px;
    background: var(--clr-white);
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

.nav__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__item {
    margin: 1rem 0;
}

.nav__link {
    color: var(--clr-dark-blue2);
    font-weight: bold;
}

.nav__link:hover {
    border-bottom: 1px solid var(--clr-dark-blue1);
}

.cta {
    text-transform: uppercase;
    background-color: var(--clr-yellow);
    color: var(--clr-dark-blue1);
    padding: 1em 2em;
    border-radius: 1.8em;
    margin-top: .5rem;
    display: inline-block;
}

.cta:hover {
    background-color: var(--clr-dark-blue2);
}

.nav.nav-open {
    transform: translateX(0);
}

@media only screen and (min-width: 800px) {
    .header {
        padding: 1rem 3rem;
        align-items: center;
    }
    
    .toggle {
        display: none;
    }

    .nav {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        transform: translateX(0);
        background-color: transparent;
    }

    .nav::before {
        display: none;
    }
    
    .nav__menu {
        position: relative;
        display: flex;
        flex-direction: row;
    }
    
    .nav__item {
        margin: 0 1rem;
    }

    .nav__link {
        color: var(--clr-white);
        font-weight: normal;
    }

    .nav__link:hover {
        border-bottom: none;
    }
    
    .cta {
        background-color: var(--clr-white);
        color: var(--clr-dark-blue1);
        padding: .6em 2em;
        font-weight: bold;
    }

    .cta:hover {
        background-color: rgba(223, 216, 250, 0.6);
        color: var(--clr-white);
    }
}

/* hero */

.hero {
    background-image: url(images/mobile/image-header.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h1 {
    margin: 15vh 2rem 0;
    color: var(--clr-white);
    font-size: 40px;
    text-transform: uppercase;
}

.arrow {
    display: inline-block;
    margin-top: 3rem;
}

@media only screen and (min-width: 480px) {
    .arrow {
        margin-top: 7rem;
    }
}

/* content */
.content {
    display: grid;
}

.content img {
    width: 100%;
}

.content__card {
    position: relative;
    overflow: hidden;
}

.content__card p,
.content__card h2 {
    padding: 0 2rem;
}

.card2 {
    grid-row: 1/1;
}

.card1,
.card3 {
    padding: 1rem;
}

.content-link {
    position: relative;
    display: inline-block;
    margin: 1.5rem 0;
    text-transform: uppercase;
    color: var(--clr-dark-blue1);
    font-weight: 900;
}

.content-link:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: -5%;
    width: 110%;
    height: 8px;
    z-index: -3;
    border-radius: 10px;
}

.link1::after {
    background-color: var(--clr-yellow);
}

.link2::after {
    background-color: var(--clr-red);
}

.content__card-text {
    position: absolute;
    bottom: 80px;
    margin: 0 2rem;
}

@media only screen and (min-width: 800px) {
    .hero {
        background-image: url(images/desktop/image-header.jpg);
    }

    h1 {
        margin: 15vh 2rem 0;
    }    

    .content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 40%);
    }

    .card2 {
        grid-column: 2 / 3;
    }

    .img-desktop {
        display: block;
    }

    .img-mobile {
        display: none;
    }

    .card1,
    .card3 {
        margin: auto;
        max-width: 500px;
    }

    .content__card-text {
        left: 10%;
        max-width: 400px;
        height: 144px;
    }
}

/* testimonials */
.testimonials img {
    width: 70px;
    border-radius: 50%;
}

.testimonials {
    padding: 4rem 2rem;
}

.testimonials__card {
    margin: 2rem 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}

.testimonials p {
    margin: 3rem 0 3rem;
}

.testimonials span {
    font-weight: bold;
}

.testimonials small {
    font-size: 14px;
    color: var(--clr-gray-blue);
}

/* items */
.items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}

.items img {
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 800px) {
    .items {
        grid-template-columns: repeat(4, 1fr);
    }

    .testimonials__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem 4rem;
    }

    .testimonials__card {
        margin: 0 1rem;
    }
}

/* footer */
.footer {
    background-color: var(--clr-footer);
    padding: 4rem 1rem;
}

.footer__links {
    margin: 2rem 0 4rem 0;
    display: flex;
    justify-content: space-around;
}

.footer__links a {
    color: #2C7566;
}

.footer__logo img:hover {
    filter: invert(95%) sepia(5%) saturate(0%) hue-rotate(16deg) brightness(160%) contrast(107%);
}

.footer__links a:hover {
    color: var(--clr-white);
}

.footer__social img {
    margin: 0 1rem;
    width: 25px;
}

.footer__social img:hover {
    filter: invert(95%) sepia(5%) saturate(0%) hue-rotate(16deg) brightness(160%) contrast(107%);
}

@media only screen and (min-width: 800px) {
    .footer__links {
        justify-content: center;
    }

    .footer__links a {
        margin: 0 1rem;
    }
}